{% extends 'base.html' %}
 {% block content %}
    <div class="yCmsContentSlot removeFocusIndicator">
<div class="content removeFocusIndicator">
<style>

#secondary-messages {
  width: 100%;
  font-size: 0px;
  text-align:center;
}

h3.secondary-headline {
  font-size: 28px;
  font-family: 'Proxima Nova', proxima-nova, sans-serif;
  font-weight: 600;
  color: #222222;
  margin: 36px auto;
  text-transform: none;
  text-align: center;
}

#secondary-messages a.category-block {
  display: inline-block;
  width: 31%;
  overflow: hidden;
  margin: 5px;
  position: relative;
}

#secondary-messages a.category-block img {
  width: 100%;
}

#secondary-messages a.category-block p.badge-label {
  position: absolute;
  top: 5px;
  left: 25px;
  width: 172px;
  height: 60px;
  display: block;
  text-align: left;
  font-family: 'Proxima Nova', proxima-nova, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .22px;
  color: #0dcaf0;
}

#secondary-messages #sale-mobile-only {
    display: none;
  }

@media screen and (min-width:768px) {
  #secondary-messages a.category-block img {
    transition: transform .5s ease;
  }

  #secondary-messages a.category-block:hover img {
    transform: scale(1.07);
  }
}

@media screen and (min-width:768px) and (max-width:1071px) {

  #secondary-messages {
    margin: 2.75%;
  }

  #secondary-messages a.category-block {
    width: 46%;
  }

    #secondary-messages {
    -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  }


  #secondary-messages :nth-child(1) {
    order: 1;
    -webkit-order: 1;
    display: block;
    width: 100%;
  }

  #secondary-messages :nth-child(2) {
    order: 2;
    -webkit-order: 2;
  }

  #secondary-messages :nth-child(3) {
    order: 4;
    -webkit-order: 4;
  }

    #secondary-messages :nth-child(4) {
    order: 3;
    -webkit-order: 3;
  }

    #secondary-messages :nth-child(5) {
    order: 4;
    -webkit-order: 4;
  }

    #secondary-messages :nth-child(6) {
    order: 6;
    -webkit-order: 6;
  }

}

@media screen and (max-width:767px) {
  #secondary-messages {
    text-align: left;
  }

h3.secondary-headline {
    font-size: 22px;
    margin: 18px auto 12px auto;

  }

  #secondary-messages a.category-block {
    width: 100%;
    height: 90px;
    margin: 0;
  }

  #secondary-messages a.category-block img {
    height: 90px !important;
    width: auto;
    transition: none !important;
  }


  #secondary-messages a.category-block p.badge-label {
    height: 54px;
    width: 607px;
    top: 00px;
    left: 160px;
    margin: 34px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    border-bottom: #ebebeb 1px solid;
  }

  #secondary-messages #sale-mobile-only {
    display: block;
  }
}

</style>

<h3 class="secondary-headline removeFocusIndicator">Shop by Category</h3>

<div id="secondary-messages">
{% for cartype in cartypes %}

  <a class="category-block" href="{% url 'carslist' %}?category={{cartype.id}}">

    <picture>
      <img src="{{cartype.imgurl}}" data-yo-delaytype="lazy" data-yo-src="{{cartype.imgurl}}" data-yo-loaded="true">
    </picture>
    <p class="badge-label"> {{ cartype.name }}</p>
  </a>
{% endfor %}
    </div>
</div>
    </div>
{% endblock%}

