{% extends 'base.html' %}
 {% block content %}
    <div class="yCmsContentSlot removeFocusIndicator">
<div class="content removeFocusIndicator">
<style>

#secondary-messages {
  width: 100%;
  font-size: 0px;
  text-align:center;
}

h3.secondary-headline {
  font-size: 28px;
  font-family: 'Proxima Nova', proxima-nova, sans-serif;
  font-weight: 600;
  color: #222222;
  margin: 36px auto;
  text-transform: none;
  text-align: center;
}

#secondary-messages a.category-block {
  display: inline-block;
  width: 31%;
  overflow: hidden;
  margin: 5px;
  position: relative;
}

#secondary-messages a.category-block img {
  width: 100%;
}

#secondary-messages a.category-block p.badge-label {
  position: absolute;
  top: 5px;
  left: 25px;
  width: 172px;
  height: 60px;
  display: block;
  text-align: left;
  font-family: 'Proxima Nova', proxima-nova, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .22px;
  color: #0dcaf0;
}

#secondary-messages #sale-mobile-only {
    display: none;
  }

@media screen and (min-width:768px) {
  #secondary-messages a.category-block img {
    transition: transform .5s ease;
  }

  #secondary-messages a.category-block:hover img {
    transform: scale(1.07);
  }
}

@media screen and (min-width:768px) and (max-width:1071px) {

  #secondary-messages {
    margin: 2.75%;
  }

  #secondary-messages a.category-block {
    width: 46%;
  }

    #secondary-messages {
    -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  }


  #secondary-messages :nth-child(1) {
    order: 1;
    -webkit-order: 1;
    display: block;
    width: 100%;
  }

  #secondary-messages :nth-child(2) {
    order: 2;
    -webkit-order: 2;
  }

  #secondary-messages :nth-child(3) {
    order: 4;
    -webkit-order: 4;
  }

    #secondary-messages :nth-child(4) {
    order: 3;
    -webkit-order: 3;
  }

    #secondary-messages :nth-child(5) {
    order: 4;
    -webkit-order: 4;
  }

    #secondary-messages :nth-child(6) {
    order: 6;
    -webkit-order: 6;
  }

}

@media screen and (max-width:767px) {
  #secondary-messages {
    text-align: left;
  }

h3.secondary-headline {
    font-size: 22px;
    margin: 18px auto 12px auto;

  }

  #secondary-messages a.category-block {
    width: 100%;
    height: 90px;
    margin: 0;
  }

  #secondary-messages a.category-block img {
    height: 90px !important;
    width: auto;
    transition: none !important;
  }


  #secondary-messages a.category-block p.badge-label {
    height: 54px;
    width: 607px;
    top: 00px;
    left: 160px;
    margin: 34px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    border-bottom: #ebebeb 1px solid;
  }

  #secondary-messages #sale-mobile-only {
    display: block;
  }
}

</style>

<h3 class="secondary-headline removeFocusIndicator">Shop by Category</h3>

<div id="secondary-messages">

  <a class="category-block" href="/Electric/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?fmt=jpg&amp;w=720">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?w=540" data-yo-delaytype="lazy" data-yo-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1QpCk8yblSNjRG5TZmrnM7fnQRFAlcPCaA&usqp=CAU?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Electric</p>
  </a>

  <a class="category-block" href="/Hydrogen/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?fmt=jpg&amp;w=720">

      <img src="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?w=540" data-yo-delaytype="lazy" data-yo-src="https://www.cummins.com/sites/default/files/styles/newsroom_hero_image/public/images/newsroom_news_release/Hydrogen%20molecule%20-%20web.jpg?itok=QqNq9lug?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Hydrogen</p>
  </a>

    <a class="category-block" href="/Petrol/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?fmt=jpg&amp;w=720">

      <img src="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?w=540" data-yo-delaytype="lazy" data-yo-src="https://www.caryinstitute.org/sites/default/files/public/2019-12/oil_field_cc_wayne_hsieh_flckr.jpg?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Petrol</p>
  </a>

    <a class="category-block" href="/Gas/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?fmt=jpg&amp;w=720">

      <img src="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?w=540" data-yo-delaytype="lazy" data-yo-src="https://media.nationalgeographic.org/assets/photos/000/279/27967.jpg?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Gas</p>
  </a>

   <a class="category-block" href="/Hybrid/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?fmt=jpg&amp;w=720">

      <img src="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?w=540" data-yo-delaytype="lazy" data-yo-src="https://media.autoexpress.co.uk/image/private/s--zI0UsQKO--/v1568374217/autoexpress/2019/09/227628_new_volvo_xc40_t5_plug-in_hybrid.jpg?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Hybrid</p>
  </a>

  <a class="category-block" href="/Diesel/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?fmt=jpg&amp;w=720">

      <img src="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?w=540" data-yo-delaytype="lazy" data-yo-src="https://financialtribune.com/sites/default/files/styles/360x260/public/03_diesel_0.jpg?itok=D1_QkkQs?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Disel</p>
  </a>




  <a class="category-block" id="sale-mobile-only" href="/c/sale/">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?fmt=webp&amp;w=240">
      <source type="image/jpg" media="(max-width: 767px)" srcset="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?fmt=jpg&amp;w=240">

      <source type="image/webp" media="(max-width: 1071px)" srcset="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?fmt=webp&amp;w=540">
      <source type="image/jpg" media="(max-width: 1071px)" srcset="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?fmt=jpg&amp;w=540">

      <source type="image/webp" media="(min-width: 767px)" srcset="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?fmt=webp&amp;w=720">
      <source type="image/jpg" media="(min-width: 767px)" srcset="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?fmt=jpg&amp;w=720">

      <img src="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?w=540" data-yo-delaytype="lazy" data-yo-src="https://i1.adis.ws/i/tumi/SecondaryMessages_1014x758-07?w=540" data-yo-loaded="true">
    </picture>
    <p class="badge-label">Sale</p>
  </a>
</div>


 {% endblock%}

